<button class="btn btn-primary" routerLink="/opciones">Regresar</button>
<div class="container">
  <h1 h3 class="text-center">PERSONAS</h1>
  <button class="btn btn-primary" routerLink="/registrar-personas">Añadir</button>
  <table class="mt-5 table table-hover">
    <thead>
      <tr>
        <th>DATE</th>
        <th>PLACE</th>
        <th>PERSON</th>
        <th>CENTER VACCINATION</th>
        <th>VACCINE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let i of vaccinationCenter ">
          <td>{{ i.date }}</td>
          <td>{{ i.place }}</td>
          <td>{{ i.person_id }}</td>
          <td>{{ i.vaccination_center_id }}</td>
          <td>{{ i.vaccines_id }}</td>
          <td>
            <button (click)="update(person.dni)" class="btn btn-info">UPDATE</button>
            <button (click)="delete(person.dni)" class="btn btn-danger">DELETE</button>
          </td>
      </tr>
    </tbody>
  </table>
  </div>


